/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-family: lato;
    font-size: 24px;
    text-align: center;
    padding-top: 20%;
}


/**hr{
    border: 0; 
    height: 0; 
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}
**/

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

p {
    margin-top: 18%;
    font-family: lato;
    color: #FFFFFF;
    font-style: italic;
    font-size: 18px;
}

.col {
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
}

#good:hover {
    background-color: #25df86;
}

#verygood:hover {
    background-color: #4edce6;
}

#bad:hover {
    background-color: #de50d8;
}

#average:hover {
    background-color: #e4b656;
}

#verybad:hover {
    background-color: #da505f;
}

textarea {
    font-size: 16px;
    font-family: lato;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0px 0px;
    width: 80%;
    height: 30%;
}

#textbutton {
    margin-left: auto;
    margin-right: auto;
    background-color: #33cd5f;
    border-radius: 0px 0px 5px 5px;
}

#textbutton:active {
    background-color: #38b85c;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-family: lato;
    font-size: 20px;
    text-align: center;
    opacity: 0.9;
    padding-top: 3%;
    font-style: italic;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
h1 {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-family: lato;
    font-size: 20px;
    margin-left: 10%;
    opacity: 0.9;
    padding-top: 30%;
}

textarea {
    font-size: 16px;
    font-family: lato;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0px 0px;
    width: 80%;
    height: 30%;
}

#textbutton {
    margin-left: auto;
    margin-right: auto;
    background-color: #33cd5f;
    border-radius: 0px 0px 5px 5px;
}

#textbutton:active {
    background-color: #38b85c;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-family: lato;
    font-size: 20px;
    text-align: center;
    opacity: 0.9;
    padding-top: 3%;
    font-style: italic;
}