<ion-modal-view view-title="more comments">

    <ion-header-bar class="bar bar-header">
        <h1 class="title container-fluid">write some more details</h1>
        <button class="button button-icon ion-close-round" ng-click="closecomment()"></button>
    </ion-header-bar>
    <ion-content class="padding row" style="background: -moz-linear-gradient(-45deg, rgba(72,76,146,1) 0%, rgba(109,88,160,1) 50%, rgba(109,88,160,1) 52%, rgba(169,108,184,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484c92', endColorstr='#a96cb8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */">

        <textarea> </textarea>

        <button class="button "> submit</button>

        <button class="button ion-mic-a"></button>


    </ion-content>
</ion-modal-view>