<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  
  </head>
  <body ng-app="starter">

    <ion-pane>
      
     <ion-content class="row" style="background: -moz-linear-gradient(-45deg, rgba(72,76,146,1) 0%, rgba(109,88,160,1) 50%, rgba(109,88,160,1) 52%, rgba(169,108,184,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484c92', endColorstr='#a96cb8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */">
 <h1> Wanna improvement? </h1> 
 <textarea> 
   speak it LOUUUUUD!!</textarea>
<div id="textbutton" class="container-fluid" style="height:7%;width:80%;" >
  
       <h2>Send</h2>
     </div>
    
    <button class="button ion-mic-a"></button>
    

</ion-content>
    </ion-pane>
  </body>
</html>
