<ion-content padding="true">

    <p>working on the charts to be displayed (3 type of dashboards) over here ...</p>
    <p>1- student : previous questions along with to answer questions </p>
    <p>2- professors : display general analytics and other indexes to be generated along with general feedbaks ..</p>
    <p>Department Deen : will have access to view the professors on the that Department .</p>
    <p>Education Expert : would have access to all the data.</p>
    <p>1,2 for each course . </p>


    <canvas id="barChart" width="600" height="400"></canvas>
    <canvas id="myChart" width="400" height="400"></canvas>

    <div id="container">Placeholder for chart</div>
    <canvas id="chartInstance" width="600" height="400"></canvas>
    <div id="piechart">Placeholder for chart</div>

</ion-content>