<ion-modal-view view-title="How was The Lesson">
    <ion-header-bar class="bar bar-header">
        <h1 class="title container-fluid">How was the Lesson ?</h1>
        <button class="button button-icon ion-close-round" ng-click="closerate()"></button>
    </ion-header-bar>
    <ion-content class=" padding row" style="background: -moz-linear-gradient(-45deg, rgba(72,76,146,1) 0%, rgba(109,88,160,1) 50%, rgba(109,88,160,1) 52%, rgba(169,108,184,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(72,76,146,1) 0%,rgba(109,88,160,1) 50%,rgba(109,88,160,1) 52%,rgba(169,108,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484c92', endColorstr='#a96cb8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */">



        <div class="row container-fluid">

            <div id="good" class="col col-50" style="border-right: 1px rgba(255, 255, 255, 0.3) solid;">
                <img src="img/educaper/good.png" class="img-responsive" style="height:30%; width:28%;"></img>
                <p class="pa" style="text-align:center;">Good</p>

            </div>

            <div id="verygood" class="col">
                <img src="img/educaper/very-good.png" class="img-responsive" style="height:30%; width:28%;"></img>
                <p class="pa" style="text-align:center;">Very good</p>
            </div>
        </div>


        <div class="row container-fluid">

            <div id="bad" class="col col-50" style="border-right: 1px rgba(255, 255, 255, 0.3) solid;">
                <img src="img/educaper/bad.png" class="img-responsive" style="height:30%; width:30%;"></img>
                <p class="pa" style="text-align:center;">Bad</p>

            </div>

            <div id="average" class="col">
                <img src="img/educaper/average.png" class="img-responsive" style="height:30%; width:28%;"></img>
                <p class="pa" style="text-align:center;">Average</p>
            </div>
        </div>


        <div class="row container-fluid">

            <div id="verybad" class="col col-50" style="border-right: 1px rgba(255, 255, 255, 0.3) solid;">
                <img src="img/educaper/very bad.png" class="img-responsive" style="height:30%; width:28%;"></img>
                <p class="pa" style="text-align:center;">Very bad</p>

            </div>

            <div id="saymore" ng-click="showcomment()" class="col">
                <img src="img/educaper/plus.png" class="img-responsive" style="height:30%; width:28%;"></img>
                <p class="pa" style="text-align:center;">Say more!</p>
            </div>
        </div>


        </div>
    </ion-content>
</ion-modal-view>